@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

.root {
  display: block;
  transition: all 150ms ease-in-out;
}

.root:focus {
  outline: none;
  background-color: rgb(249, 250, 251);
}

.root:hover {
  background-color: rgb(249, 250, 251);
}

.rootLoading {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.container {
  display: flex;
  align-items: center;
  padding: 1rem;
}

@media (min-width: 640px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.content {
  flex: 1;
  min-width: 0;
}

@media (min-width: 640px) {
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.title {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: rgb(219, 39, 119);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.placeholder {
  display: inline-block;
  background-color: rgb(209, 213, 219);
}

.titlePlaceholder {
  width: 9rem;
  height: 1.25rem;
}

.department {
  margin-left: 4px;
  font-weight: normal;
  color: rgb(107, 114, 128);
}

.departmentPlaceholder {
  width: 6rem;
  height: 1.25rem;
}

.description {
  display: flex;
  align-items: center;
  font-size: 0.865rem;
  line-height: 1.25rem;
  margin-top: 0.5rem;
  color: rgb(107, 114, 128);
}

.icon {
  height: 1.25rem;
  width: 1.25rem;
  color: rgb(156, 163, 175);
}

.descIcon {
  flex-shrink: 0;
  margin-right: 6px;
}

.descPlaceholder {
  width: 5rem;
  height: 1rem;
}

.applicants {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-top: 1rem;
  flex-shrink: 0;
  overflow: hidden;
  transition: all 150ms ease;
  gap: 0;
}

.root:hover .applicants {
  gap: 0.5rem;
}

@media (min-width: 640px) {
  .applicants {
    margin-top: 0;
  }
}

.applicantPreview {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  color: white;
  outline: 2px solid white;
}

.applicationPreviewPlaceholder {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  outline: 2px solid white;
}

.moreSection {
  margin-left: 20px;
  flex-shrink: 0;
}
